@inject INumerologyLinksService numerologyLinksService

@if (Text is { Length: > 0 } text)
{
    if (numerologyLinksService.IsNumerologyLinkEligible(text, out var result))
    {
        <a href="@numerologyLinksService.GetNumerologyUrl(result)"
           target="_blank"
           class="result btn flex-shrink-0 m-0 p-0 border-0">
            <span class="px-3 text-secondary display-1 ">
                @result
            </span>
        </a>
    }
    else
    {
        <div class="result flex-shrink-0 m-0 p-0 border-0 px-3 text-secondary display-1">
            @result
        </div>
    }
}

@code {
    [Parameter]
    public string? Text { get; set; }
}
