@page "/"
@page "/{*text}"

@inject NavigationManager navigationManager

<PageTitle>Numerology Calculator</PageTitle>

<div class="nc-input-container position-relative position-sticky sticky-md-top z-3 px-3 pt-4 pb-0">
    <SearchInput @bind-Text:get="Text"
                 @bind-Text:set="OnTextChange"
                 Loading="Loading"
                 FocusOnLoad="true" />
</div>

<div class="px-3 pb-4 nc-hide-when-empty">
    <DigitAdder Text="@Text"
                Title="Numeric Calculation"
                BusyChanged="v => _digitAdderBusy = v"
                ResultChanged="v => _digitAdderResult = v" />
</div>

<div class="px-3 pb-4 nc-hide-when-empty">
    <LetterAdder Text="@Text"
                 Title="Letter Calculation"
                 BusyChanged="v => _letterAdderBusy = v"
                 ResultChanged="v => _letterAdderResult = v" />
</div>

<div class="px-3 pb-4 nc-hide-when-empty">
    <DigitAdder Text="@CombinedResult"
                Title="Combined Numeric and Letter Calculation"
                BusyChanged="v => _combinedAdderBusy = v" />
</div>

@code {
    private bool _digitAdderBusy;
    private string _digitAdderResult = string.Empty;
    private bool _letterAdderBusy;
    private string _letterAdderResult = string.Empty;
    private bool _combinedAdderBusy;

    [Parameter]
    public string Text { get; set; } = string.Empty;

    private bool Loading => _digitAdderBusy || _letterAdderBusy || _combinedAdderBusy;

    private string CombinedResult => (_digitAdderResult.Length > 0 && _letterAdderResult.Length > 0) switch
    {
        true => _digitAdderResult + _letterAdderResult,
        _ => string.Empty
    };

    private void OnTextChange(string value)
    {
        Text = value.Replace(".", " ");
        
        navigationManager.NavigateTo($"./{Uri.EscapeDataString(Text)}");
    }
}
