@page "/"
@page "/{*text}"

@inject NavigationManager navigationManager

<PageTitle>Numerology Calculator</PageTitle>

<div class="sticky-md-top z-3 px-3 pt-4 pb-0 bg-white">
    <SearchInput @bind-Text:get="Text"
                 @bind-Text:set="OnTextChange"
                 Loading="Loading"
                 FocusOnLoad="true" />
</div>

<div class="px-3 pb-4 hide-when-empty">
    <DigitAdder Text="@Text"
                BusyChanged="v => _digitAdderBusy = v" />
</div>

<div class="px-3 pb-4 hide-when-empty">
    <LetterAdder Text="@Text"
                 BusyChanged="v => _letterAdderBusy = v" />
</div>

@code {
    private bool _digitAdderBusy;
    private bool _letterAdderBusy;

    [Parameter]
    public string? Text { get; set; }

    public bool Loading => _digitAdderBusy || _letterAdderBusy;

    private void OnTextChange(string value)
    {
        Text = value;
        navigationManager.NavigateTo($"./{value}", false, true);
    }
}
